*{
    text-decoration: none;
    font-family:cursive;
   margin: auto;
}

body{
    background-image: url(R.jpeg);
}

a{
    color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    font-size: 19.3px;
    border-radius: 20px;
    padding: 15px;
    transition: 1.3s;
    box-shadow: 3px 3px 3px rgb(191, 191, 191);

}


#l1  { 
   width: 30px;
   height: 30px;
  background-color: #cd50e5;
  border: 3px solid white;
  left: 140px;
  top: 550px;
  border-radius: 50%;
  transition: 1.3s;
}

#l2  {
    background-color: #fa556d;
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50%; 
    transition: 1.3s;
    bottom: 40px;
}

#l3  {
    background-color: #63a4fa;
    left: 250px;
    bottom: 40px;
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50%;
    transition: 1.3s;
}

#l4  {
    background-color: #93f77f;
    width: 30px;
    border: 3px solid white;
    height: 30px;
    border-radius: 50%;
    right: 250px;
    bottom: 90px;
    transition: 1.3s;
}

#l5  {
   background-color: #f8e52b;
   width: 30px;
   border: 3px solid white;
   height: 30px;
   top:70px;
   border-radius: 50%;
   right:270px;
   transition: 1.3s; 
}

#l6  {
    background-color: #ff9c35;
    width: 30px;
    height: 30px;
    bottom: 10px;
    border-radius: 50%;
    border: 3px solid white;
    left: 270px;
    transition: 1.3s;
}

#l7  {
    background-color:#c4e3ca;
    border: 3px solid white;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    bottom: 220px;
}

img{
    position: relative;
    width: 30px;
    height: 30px;
    top: 15px;
    left: 15px;
}

#l8{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:#e9c3ee;
    border: 3px solid white;
    box-shadow: 3px 3px 3px rgb(191, 191, 191); 
    bottom: 125px;
    right: 150px;
    transition: 1.3s;
}

div p  {
    position: relative;
    left: 10px;
    top: 60px;
    font-size:20px;
}

#cf{
    position: relative;
    right: 16px;
}

#rw{
    position: relative;
    left: 5px;
}

#pp{
    position: relative;
    right: 12px;
}

#eat{
    position: relative;
    left: 10px;
}

#lc{
    position: relative;
    left: 5px;
}

#di{
    position: relative;
    left: 10px;
}

#emo{
    position: relative;
    left: 20px;
    top: 40px;
}

.name{
    position: relative;
    left: 130px;
    padding: 5px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}
